@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

/* LOGO
5FA199 verde
C64832 naranja
F8E12E amarillo
211915 negro
*/

* {
  font-family: 'Jockey One', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  }

.logo {
  width: 177px;
  clip-path: inset(17px 35px 77px 35px);

}

.sticky {
  position: sticky;
  top: 0px;
  background-color: #F8E12E;
  border: 2px solid #c64832;
  display: flex;
  }

.middle {
  display: flex;
  }

.article {
  margin-top: 50px;
  margin-left: 50px;
  }

  .img{
    width: 752px;
    display: flex;
    right: 0;
   }

.upcoming {
  text-align: center;
  border: 2px solid orangered;
  border-top: 1px solid C64832;
}

.button {
display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 8px;
}

.button a {
  color: white;
  padding: 10px;
  background-color: #416fb5;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #c64832;
  text-decoration: none;
  box-shadow: 10px 10px 0px 0px #5fa199;
}

 h1 {
  font-size: 300%;
  font-style: italic;
  padding: 15px;
  }

  header{
    height: 13vh;
    border-bottom: 10px solid #C64832;
  }

  .active {
    background-color: #6eac45 !important;
  }

.banner{
    object-fit:cover;
  width: 1900px;
  height: 490px
}






/* 




h1 {
  font-size: 300%;
  font-style: italic;
  }


h3 {
  text-shadow: #f8e12e 1px 0 10px;
}


.sticky {
  position: sticky;
  top: 0px;
  background-color: #f8e12e;
  border: 1px solid #c64832;
  display: flex;
  flex-wrap: wrap;
}





body {
  max-width: 100vw;
}

.active {
  background-color: #6eac45 !important;
}

nav a:hover{
background-color: ;
}

table{
  background-color: #f8e12e;
  padding: 5px;
  border: 2px solid #211915;
}

tr{
  padding: 3px;
  border: 3px solid red;
}
 */
